@import url('https://fonts.googleapis.com/css?family=Hind:400,600|Satisfy');

body {
  font-family: 'Hind', sans-serif;
  color: #000;
}

a {
  color: rgb(217, 59, 149);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 136, 0);
}

a:hover {
  color: rgb(53, 193, 0);
  text-decoration: underline;
}

a:active {
color: rgb(53, 59, 149);
}

p {
  line-height: 1.5;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 55px;
  text-align: center;
  /*color: rgb(10, 0, 79);*/
  margin-bottom: 0px;
  margin-top: 10px;
}

address {
  color: rgb(109, 109, 109);
  text-align: center;
  font-style: normal;
  font-size: 15px;
  margin-bottom: 15px;
}

h2 {
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}

img {
  border-radius: 8px;
}

main {
  display: grid;
  grid-template-columns: 1fr 350px;
  /*grid-template-rows: 350px 200px 200px;*/
  grid-column-gap: 40px;
}

#experience {
  grid-column: 1;
  grid-row: 1 / span 4;
}

#experience article {
  margin-bottom: 50px;
}

#experience h3 span {
  display: block;
}

#experience h3,
#experience p {
  margin: 0;
}

#container {
  max-width: 960px;
  margin: 0 auto;
}

.message {
        background-color: #333;
        color: #fff;
        padding: 10px;
      }

@supports(display: grid) {
        .message {
          display: none;

/*
  CSS grid scaffolding provided by Erin Brown.
  http://github.com/umiami-web-design/grid-templates
*/
